<div class="container-fluid main-container">
  <h5>Admin Tools</h5>
  <a href="/meta_forums/1/edit">Edit Forum Name / Desc</a>
  <br>
  <%= link_to "Create New Forum", new_super_forum_url %>
  <br>
  <%= link_to "Delete Forums", delete_forums_view_url %>
  <br>
  <%= link_to "Delete Posts", delete_posts_view_url %>
  <br>
</div>