<div class="container-fluid main-container">
  <h5>Admin Tools</h5>
  <br>
  <%= link_to "Create New Forum", new_super_forum_url %>
  <br>
  <%= link_to "Delete Forums", new_super_forum_url %>
  <br>
  <%= link_to "Add / Remove Moderators" %>
</div>