<div class="container-fluid main-container">
<h1> Edit Forum Name and Description </h1>

<%= form_for @meta_forum do |f| %>
  Forum Name:
  <%= f.text_field :name %><br />

  Forum Description:
  <%= f.text_field :description %><br />

  <%= f.submit %>

<% end %>
</div>