<div class="container-fluid main-container">
  <h5>Forums</h5>

  <form>

    <% @super_forums.each do |sf| %>
      <input type="checkbox" name = "to_delete[]" value="<%= sf.id %>" >
      <%= sf.name %>
      <br>
    <% end %>

  </form>


</div>
