<div class='reply-container'>
  <div class='reply-content'><%= reply.content %> </div>
  <div class='reply-profile'><%= link_to reply.user.username, user_url(reply.user) %>
  </div>
  <div class='reply-button-div'>
    <% if user_signed_in? %>
    <button class="reply-button">Reply to Post</button>
    <% end %>
  </div>

  <form class='reply-post-form' data-id = "reply_id <%= reply.id %>" >
    <label for="reply_content">Message</label><br>
    <textarea class="reply-content" name='content' ></textarea><br>
    <input type="button" class="submit-button" value="Submit" />
  </form>

  <div>
    <% reply.replies do |inner_reply| %>
      <%= render partial: 'innerreply', 
        :locals => { :reply => inner_reply } %>
    <% end %>
  </div>

</div>