<div class='reply-container'>
  <div class='reply-content'><%= reply.content %> </div>
  <div class='reply-profile'><%= link_to reply.user.username, user_url(reply.user) %>
  </div>
  <div class='reply-button-div'>
    <% if user_signed_in? %>
    <button class="reply-button">Reply to Post</button>
    <% end %>
  </div>

  <form action="/post/reply/new" method="post">
    <textarea cols='60' class="reply-content" name='reply[content]' rows="20"></textarea><br>
    <input type="hidden" name="reply[post_id]" value= <%= @post.id %> >
    <input type="hidden" name="reply[reply_id]" value= <%= reply.id %>>
    <input type="submit"/>
  </form>

</div>