<div id='post-container'>
  <div id='post-content'>
    <%= @post.title %>
    <%= link_to @post.user.username, user_url(@post.user)%>
    <%= @post.content %>
  </div>

  <div id='reply-button'>
    <% if user_signed_in? %>
    <button id="reply-button">Reply to Post</button>
    <% else %>
    <%= link_to "Login to Reply", new_user_session_url %>
    <% end %>
  </div>

  <div id="reply-form">
    <form id='new-reply-form'>
      <label for="reply_content">Message</label><br>
      <textarea cols='60' id="reply-content" name='reply[content]' rows="20"></textarea><br>
      <input type="button" id="submit-button" value="Submit" />
    </form>
  </div>
</div>