.masthead {
  background: url("/planet_express.jpg");
  background-size: cover;
  min-height: 570px;

}

.masthead-header {
  font-size: 3em;
}

.masthead-content {
  background: #0A2A0A;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  margin-top: 180px;
  padding: 20px;
  color: white;
  text-align: center;
}

.span4.first {
  margin-left: 0;
}

.secondary-headers {
  margin-top: 20px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.subforum-box {
  background: #FFFFFF;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


.subforums-container{
  margin-top: 50px;
  background: #FFFFFF;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

body{
  background: #F2F2F2;
}

/*#index-nav-panel
{
  margin: auto;
  background-color: #E6E6E6;
  height: 100px;
  width: 70%;
  border-radius: 1em;
  padding: 5px;
}

#index-nav-content
{
  position: relative;
  height: auto;
  width: auto;
  margin: auto;
  margin-top: auto;
}*/