#post_content {
  height: 300 px;
  width: 500 px;
}


.reply-container{
  position: relative;
  left: 20px;
}


#post-container
{
  border:1px solid;
  padding:3px;
}

#post-title
{
  background-color: #D0D0D0 ;
  text-align: center;
}

#post-profile{
  width: 100px;
  height: 100px;
  border: 1px solid;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}