#post_content {
  height: 300 px;
  width: 500 px;
}

.post-container
{
  min-height: 90px;
  border: 1px solid;
  padding: 5px;
  border-color: #424242;
  border-radius: 1em;
  margin-left: -60px;
}

#post-profile{
  width: 100px;
  height: 115px;
  /*border: 1px solid;*/
  border-radius: 1em;
  padding: 10px;
}

#post-title
{
  text-align: center;
  font-weight: bold;
  font-size : large;
}

#post-content{
  padding: 5px;
}

.post-reply-button-form-div
{
  padding: 5px;
  margin-left: -60px;
}