.forum-nav-panel
{
  text-align: center;
  background: #151515;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  color: white;
  min-height: 30px;
}

.post-header
{
  text-align: center;
  background: #F2F2F2;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  color: black;
  min-height: 20px;
}


/*#nav-content
{
 width: 80%;
 margin: auto;
 margin-top: auto;
}*/

.new-post-button-form-div
{
  padding: 5px;
  margin-left: 30px;
}

ul{
list-style-type: none;  
}

#post-top-panel
{
  background-color: #E6E6E6;
  width: 70%;
}

.post-top-panel-row
{
  margin-left: 0px;
}

#post-top-panel{
  border-radius: 1em;
}

